- type = @Row
= form_for @proctor do |f|
  - if @proctor.errors.any?
    #error_explanation
      %h3= "Error"
      %ul
        - @proctor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :'Position'
    = f.text_field :position
  .field
    = f.label :telephone
    = f.text_field :tel
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :"Room's id"
    = f.text_field :room_id, :value => type , :readonly => true
  .actions
    = f.submit 'Save'
