%h1 Proctors

%div{class:'media'}
  
  %div{class:"media-body"}

%table{class:"table table-hover"}
  %tr
    %th Name
    %th Position
    %th Telephone
    %th E-mail
    %th
    %th
    %th

  - @proctors.each do |proctor|
    %tr
      %td= proctor.name
      %td= proctor.position
      %td= proctor.tel
      %td= proctor.email
      %td= link_to 'Show', proctor
      %td= link_to 'Edit', edit_proctor_path(proctor)
      %td= link_to 'Delete', proctor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Add Proctor', new_proctor_path
