%h1 Listing rooms

%table
  %tr
    %th Room Number
    %th Building
    %th Date
    %th Time
    %th Proctor 1
    %th Proctor 2
    %th
    %th
    %th

  - @rooms.each do |room|
    %tr
      %td= room.rnumber
      %td= room.build
      %td= room.rdate
      %td= room.rtime
      %td= room.proc1
      %td= room.proc2
      %td= link_to 'Show', room
      %td= link_to 'Edit', edit_room_path(room)
     

%br


= link_to 'Add Room', new_room_path

