%h1 Rooms

  
  
= form_tag rooms_path, method: 'get' do
  = text_field_tag :search, params[:search]
  = submit_tag "Search By Proctor", :name => nil

= form_tag rooms_path, method: 'get' do
  = text_field_tag :searchroom, params[:searchpro]
  = submit_tag "Search By Room", :name => nil

- if @rooms.each do |room| 
  - # code or partial to display the message 
- end.empty? 
  There is no room stored on database
  
  
%div{class:'media'}
  
  %div{class:"media-body"}

%table{class:"table table-hover"}
  %tr
    %th Room Number
    %th Building
    %th Date
    %th Time
    %th Proctor 1
    %th Proctor 2
    %th
    %th
    %th

  - @rooms.each do |room|
    %tr
      %td= room.number
      %td= room.build
      %td= room.date
      %td= room.time
      %td= room.proctor1
      %td= room.proctor2
      %td= link_to 'Show', room
      %td= link_to 'Edit', edit_room_path(room)
     

%br


= link_to 'Add Room', new_room_path

